/deep/ {
  table,
  tr,
  th,
  td {
    border: 1px solid black;
  }
  table {
    width: 100%;
  }
  th {
    min-width: 100px;
    padding: 0 8px;
    white-space: nowrap;
  }
  td {
    padding: 0 8px;
    &.-center {
      text-align: center;
    }
    span {
      color: -webkit-link;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
